*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.apk
*.hprof
/app/release/
/fastdeploydemo/src/main/assets/models/
/fastDeployLib/build/
