*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.apk
*.hprof
/app/release/
/ncnndemo/
/ncnnAndroidPPOCR/
/fastdeployOCR/
/fastdeploydemo/
/doc/
/PaddleOCR4Android/PaddleLite/cxx/
/PaddleOCR4Android/PaddleLite/java/
/fastDeployLib/build/
